@use '../../scss/mixings.scss' as *;

.cartShow {
  flex-direction: column;
  width: 100%;
  padding: 15px;

  &-title {
    display: flex;
    flex-wrap: wrap;
    color: #6c083d;
    align-items: center;
    font-size: 32px !important;
    font-family: Lato;
    font-weight: 600;

    svg {
      margin-right: 10px;
    }

    &::before {
      height: 100%;
      content: '';
      width: 8px;
      background-color: #ffb013;
      margin-right: 10px;
    }
  }

  &-list {
    margin: 10px 0px;
    border-radius: 8px;
    border: 1px solid #dddddd;
    width: 100%;
    max-height: 500px;
    overflow-y: auto;
    flex-direction: column;

    .cartItem {
      width: 100%;

      &-content {
        width: 100%;
      }
    }
  }

  &-notFound {
    padding: 20px;
    text-align: center;
    color: #6c083d;
    font-weight: 500;
    font-family: Lato;
  }

  &-button {
    width: fit-content;
    background-color: #6c083d;
    color: white;
    font-size: 16px;
    font-family: Lato;
    font-weight: 500;
    margin-left: auto;
    transition: 0.3s all ease-in-out;

    &:hover {
      background-color: #4b062a;
    }
  }

  @include for-tablet-down {
    padding: 0;
  }
}
