@import "../../../scss/mixings.scss";

.register{
  height: 700px;
  max-width: 1200px;
  width: 100%;
  border-radius: 20px;

  &-image{
    border-radius: 20px 0px 0px 20px;
    width: 50%;
    height: 100%;
    object-fit: cover;
  }

  &-exist{  
    width: 100%;
    justify-content: flex-end;
    color: white;
    align-items: center;

    p{
      margin-right: 5px;
      margin-bottom: 0;
      font-size: 14px;
    }

    button{
      color: #6c083d;
    }
  }

  &-content{
    width: 50%;
    height: 100%;
    padding: 40px;
    border-radius: 0px 20px 20px 0px;
    background: #6c083d;
    

    &__title{
      color: white;
      font-family: Lato;
      letter-spacing: 1px;
      margin-top: 20px;
      text-align: center;
      font-size: 32px !important;
      font-weight: 500 !important;
      
    }
  }

  &-divider{
    margin-top: 40px;
    color: white;
    font-family: Lato;
    font-weight: 300;
    font-size: 14px;
  }
}