@use '../../../scss/mixings.scss' as *;

.finishStep {
  width: 400px;
  max-width: 100%;
  flex-direction: column;
  flex-wrap: wrap;

  &-form {
    margin-top: 30px;
    display: flex;
    width: 100%;
    flex-direction: column;

    &__label {
      margin: 0;
      font-size: 16px;
      font-family: Lato;
      margin-bottom: 4px;
      font-weight: 500;
    }

    &__button {
      width: fit-content;
      margin-top: 20px;
      background-color: #6c083d;
      color: white;
      font-size: 16px;
      font-family: Lato;
      font-weight: 500;
      margin-left: auto;
      transition: .3s all ease-in-out;
      align-self: flex-end;

      &:hover {
        background-color: #4b062a;
      }
    }
  }

  @include for-tablet-down{
    padding: 10px;
  }
}

.total {
  width: 100%;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 20px;
  background-color: #eeee;
  border-radius: 20px;
  height: 100%;
  justify-content: space-between;
  align-items: center;

  &-title {
    color: #6c083d;
    font-size: 32px !important;
    margin-bottom: 0;
  }

  hr {
    border-color: #ccc;
  }

  &-result {
    width: 100%;
    flex-direction: column;
    margin-top: 50px;

    &__table {
      margin: 0 auto;
      width: 250px;

      thead {
        display: none;
      }

      tbody {
        tr {
          background-color: #efefef;

          td {
            font-size: 20px;
            font-family: Lato;
            color: #000;

            &:nth-child(1) {
              font-weight: 700;
            }
          }
        }
      }
    }

    &__finalPrice {
      margin: 10px auto;
      justify-content: center;
      width: 100%;
      border-radius: 4px;
      font-size: 28px;
      font-family: Lato;
      font-weight: 700;
      color: #6c083d;
      background-color: #dddd;
      padding: 15px;

      p {
        margin: 0 20px;
      }
    }
  }

  &-address{  
    p{
      display: flex;
      flex-direction: column;
      justify-content: center;
      max-width: 300px;
      text-align: center;
    }
  }
  &-end {
    margin: 50px 0px;
    width: 100%;

    button {
      background-color: #6c083d;
      color: white;
      width: 100%;
      justify-content: center;
      font-size: 24px;
      padding: 20px;
      transition: .3s all ease-in-out;

      svg {
        margin-right: 10px;
      }

      &:hover {
        background-color: #4e072d;
      }
    }
  }
}